// mito_unsupervised

// Manifest
manifest {
  name = 'mito_unsupervised'
  author = 'Andrea Cossa'
  //homePage = 'https://github.com/andrecossa5/mito_unsupervised.git'
  description = 'Mitochondrial variants based transcriptioanl lineage tracing benchmark.'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.01.0'
  version = '0.1'
}

// Profiles
profiles {

  conda_garr {
    conda.enabled = true
    conda.envPath = '/home/ieo5505/mambaforge/envs/MI_TO'    
  }
  docker {
    conda.enabled = false
    docker.enabled = true
    docker.runOptions = '--volume /Users/:/Users/'
  }
  conda_local {
    conda.enabled = true
    conda.envPath = '/Users/IEO5505/mambaforge/envs/MI_TO'
  }

}

// Processes
process {

  errorStrategy = 'retry'
  maxRetries = 3

  withName: LEIDEN {
    cpus = 1
    memory = { 3.GB * task.attempt }
    container = 'acox1/mi_to:1.0'
  }
  withName: PREP_LINEAGE {
    cpus = 1
    memory = { 5.GB * task.attempt }
    container = 'acox1/mi_to:1.0'
  }
  withName: LINEAGE {
    cpus = 8
    memory = { 10.GB * task.attempt }
    container = 'acox1/phylo:1.0'
  }
  withName: SCORE_LINEAGE {
    cpus = 1
    memory = { 1.GB * task.attempt }
    container = 'acox1/mi_to:1.0'
  }
  withName: VIREO {
    cpus = 8
    memory = { 5.GB * task.attempt }
    container = 'acox1/mi_to:1.0'
  }

}

// Tracing
trace {
  enabled = true
  file = "trace.txt"
  overwrite = true
}

// Tracing
tower {
    enabled = true
}
